$ColorBlack: #000;
$ColorGray: #080808;

.section1 {
  background: $ColorBlack;

  .container {
    max-width: 1120px;
    margin: 0px auto;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .conteudo {
      flex: 1;
      color: white;
      padding: 20px;

      h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
      }
      p {
        color: #b7b7b7;
        margin-bottom: 30px;
      }

      .contato {
        button {
          margin-right: 30px;
        }
        a {
          color: rgba(255, 98, 0, 1);

          &:hover{
          color: rgba(255, 98, 0, 0.8);
          }
        }

      }
    }

    img {
      flex: 1;
      width: 100%;
    }
  }
}

.section2 {
  background: $ColorGray;

  .container {
    max-width: 1120px;
    margin: 0px auto;
    padding: 30px 0;
  }

  h1 {
    text-align: center;
    color: white;
    font-size: 40px;
  }

  .sobre{
    color: white;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;

    .perfil{
      flex: 1;
      img{
        width: 400px;
        border-radius: 20px;
      }
      .redesSociais{

      }
    }

    .conteudo{
      flex: 1;
      min-width: 300px;
      p{
        margin-bottom: 20px;
      }
    }
  }
}
